.container{
    position: fixed;
    top: 160px;
    left: 50px;
    width: 150px;
    height: 500px;
    list-style-type: none;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container li{
    font-size: 20px;
    border: 1px solid black;
    height: 100px;
    text-align: center;
    line-height: 100px;
}