.container{
    display: flex;
    width: 60%;
    justify-self: start;
    padding: 30px;
    border-bottom: 1px solid black;
    margin: 0 auto;
    margin-top: 50px;
    align-items: center;
}

.subContainer{
    margin-left: 200px;
    padding: 5px;
}

.name{
    font-size: 33px;
    font-weight: bold;
}

.subCount{
    margin-top: 30px;
    display: flex;
    padding: 20px 0;
}

.subCount span{
    margin-right: 70px;
    font-size: 20px;
}